In [1]:
#XINLEI HONG ICE2
import pandas as pd
import numpy as np
import string
Eval = pd.read_csv('ICE2_data_eval.csv')
Eval

,teaching,teaching.1,coursecontent,coursecontent.1,examination,Examination,labwork,labwork.1,library_facilities,library_facilities,extracurricular,extracurricular.1
0,0,teacher are punctual but they should also give...,0,content of courses are average,1,examination pattern is good,-1,"not satisfactory, lab work must include latest...",0,library facilities are good but number of book...,1,extracurricular activities are excellent and p...
1,1,Good,-1,Not good,1,Good,1,Good,-1,Not good,1,Good
2,1,Excellent lectures are delivered by teachers a...,1,All courses material provide very good knowled...,1,Exam pattern is up to the mark and the Cgpa de...,1,Lab work is properly covered in the labs by th...,1,Library facilities are excellent in terms of g...,1,Extra curricular activities also help students...
3,1,Good,-1,Content of course is perfectly in line with th...,-1,Again the university tests students of their a...,1,Good,0,Its the best thing i have seen in this univers...,-1,Complete wastage of time. Again this opinion i...
4,1,teachers give us all the information required ...,1,content of courses improves my knowledge,1,examination pattern is good,1,practical work provides detail knowledge of th...,1,library has huge collection of books from diff...,1,extracurricular activities increases mental an...
...,...,...,...,...,...,...,...,...,...,...,...,...
180,1,intraction is good and leacture delivery also ...,0,every one can tell depth of course but some on...,0,exam pattern is good and marks distribution is...,1,all labs and practical going on well,1,good,1,they all are held in super
181,1,all the given terms are good regarding the uni...,1,we are getting maximum knowledge,1,all are good,1,not bad,-1,library facilities are not good.They are not f...,1,good
182,1,All the terms are good regarding the universit...,1,Knowledge is maximum gained by reading books ...,0,The examination pattern is good .But time is n...,1,Labs are upto the mark.,1,They are good,1,the extracurricular activities held in univers...
183,-1,Some of the teacher are un experienced. Also t...,0,Its fine but it should focus more towards prac...,1,MCQ pattern is quite good and efficient way fo...,-1,Our labs do not have all facalities.,1,We have a good library with all facalities.,1,Our university has lot of extracurricular goin...
184,1,IT IS GOING GOOD,-1,HAVE TO IMPROVE,0,PAPER CHECKING IS VERY HARD REMAINING IS GOOD,1,ALL PRACTICAL WORK IS GOOD,-1,THEY IS NO PROBLEM WITH THEM\n,1,IT IS THE BEST THING IN THIS UNIVERSITY I LIKE IT

In [2]:
df = pd.DataFrame(Eval)

In [4]:
df_concat = pd.DataFrame(columns=["eval", "comment", "category"])

n = df.shape[1]

for i in range(0, n, 2):
  cat = df.columns[i]
  temp_df = pd.DataFrame()
  temp_df["eval"] = df.iloc[:, i]
  temp_df["comment"] = df.iloc[:, i+1]
  temp_df["category"] = cat
  df_concat = pd.concat([df_concat, temp_df])

df_concat

     eval                                            comment         category
0       0  teacher are punctual but they should also give...         teaching
1       1                                              Good          teaching
2       1  Excellent lectures are delivered by teachers a...         teaching
3       1                                               Good         teaching
4       1  teachers give us all the information required ...         teaching
..    ...                                                ...              ...
180     1                         they all are held in super  extracurricular
181     1                                               good  extracurricular
182     1  the extracurricular activities held in univers...  extracurricular
183     1  Our university has lot of extracurricular goin...  extracurricular
184     1  IT IS THE BEST THING IN THIS UNIVERSITY I LIKE IT  extracurricular

[1110 rows x 3 columns]

In [3]:
Eval_teaching = df[['teaching', 'teaching.1']]
Eval_teaching = Eval_teaching.assign(category = 'teaching')
Eval_teaching.columns =['eval','comment','category']
Eval_teaching

     eval                                            comment  category
0       0  teacher are punctual but they should also give...  teaching
1       1                                              Good   teaching
2       1  Excellent lectures are delivered by teachers a...  teaching
3       1                                               Good  teaching
4       1  teachers give us all the information required ...  teaching
..    ...                                                ...       ...
180     1  intraction is good and leacture delivery also ...  teaching
181     1  all the given terms are good regarding the uni...  teaching
182     1  All the terms are good regarding the universit...  teaching
183    -1  Some of the teacher are un experienced. Also t...  teaching
184     1                                   IT IS GOING GOOD  teaching

[185 rows x 3 columns]

In [4]:
Eval_coursecontent = df[['coursecontent', 'coursecontent.1']]
Eval_coursecontent = Eval_coursecontent.assign(category = 'coursecontent')
Eval_coursecontent.columns =['eval','comment','category']
Eval_coursecontent

     eval                                            comment       category
0       0                     content of courses are average  coursecontent
1      -1                                           Not good  coursecontent
2       1  All courses material provide very good knowled...  coursecontent
3      -1  Content of course is perfectly in line with th...  coursecontent
4       1           content of courses improves my knowledge  coursecontent
..    ...                                                ...            ...
180     0  every one can tell depth of course but some on...  coursecontent
181     1                  we are getting maximum knowledge   coursecontent
182     1  Knowledge is maximum gained  by reading books ...  coursecontent
183     0  Its fine but it should focus more towards prac...  coursecontent
184    -1                                    HAVE TO IMPROVE  coursecontent

[185 rows x 3 columns]

In [5]:
Eval_examination = df[['examination', 'Examination']]
Eval_examination = Eval_examination.assign(category = 'examination')
Eval_examination.columns =['eval','comment','category']
Eval_examination

     eval                                            comment     category
0       1                        examination pattern is good  examination
1       1                                               Good  examination
2       1  Exam pattern is up to the mark and the Cgpa de...  examination
3      -1  Again the university tests students of their a...  examination
4       1                        examination pattern is good  examination
..    ...                                                ...          ...
180     0  exam pattern is good and marks distribution is...  examination
181     1                                      all are good   examination
182     0  The examination pattern is good .But time is n...  examination
183     1  MCQ pattern is quite good and efficient way fo...  examination
184     0      PAPER CHECKING IS VERY HARD REMAINING IS GOOD  examination

[185 rows x 3 columns]

In [6]:
Eval_labwork = df[['labwork', 'labwork.1']]
Eval_labwork = Eval_labwork.assign(category = 'labwork')
Eval_labwork.columns =['eval','comment','category']
Eval_labwork

     eval                                            comment category
0      -1  not satisfactory, lab work must include latest...  labwork
1       1                                              Good   labwork
2       1  Lab work is properly covered in the labs by th...  labwork
3       1                                               Good  labwork
4       1  practical work provides detail knowledge of th...  labwork
..    ...                                                ...      ...
180     1               all labs and practical going on well  labwork
181     1                                            not bad  labwork
182     1                            Labs are upto the mark.  labwork
183    -1              Our labs do not have all facalities.   labwork
184     1                         ALL PRACTICAL WORK IS GOOD  labwork

[185 rows x 3 columns]

In [7]:
Eval_library_facilities = df.iloc[:,8:10]
Eval_library_facilities = Eval_library_facilities.assign(category = 'library_facilities')
Eval_library_facilities.columns =['eval','comment','category']
Eval_library_facilities

,eval,comment,category
0,0,library facilities are good but number of book...,library_facilities
1,-1,Not good,library_facilities
2,1,Library facilities are excellent in terms of g...,library_facilities
3,0,Its the best thing i have seen in this univers...,library_facilities
4,1,library has huge collection of books from diff...,library_facilities
...,...,...,...
180,1,good,library_facilities
181,-1,library facilities are not good.They are not f...,library_facilities
182,1,They are good,library_facilities
183,1,We have a good library with all facalities.,library_facilities
184,-1,THEY IS NO PROBLEM WITH THEM\n,library_facilities

In [8]:
Eval_extracurricular = df.iloc[:,10:12]
Eval_extracurricular = Eval_extracurricular.assign(category = 'extracurricular')
Eval_extracurricular.columns =['eval','comment','category']
Eval_extracurricular

     eval                                            comment         category
0       1  extracurricular activities are excellent and p...  extracurricular
1       1                                              Good   extracurricular
2       1  Extra curricular activities also help students...  extracurricular
3      -1  Complete wastage of time. Again this opinion i...  extracurricular
4       1  extracurricular activities increases mental an...  extracurricular
..    ...                                                ...              ...
180     1                         they all are held in super  extracurricular
181     1                                               good  extracurricular
182     1  the extracurricular activities held in univers...  extracurricular
183     1  Our university has lot of extracurricular goin...  extracurricular
184     1  IT IS THE BEST THING IN THIS UNIVERSITY I LIKE IT  extracurricular

[185 rows x 3 columns]

In [9]:
evalClean = pd.concat([Eval_teaching, Eval_coursecontent,Eval_examination,Eval_labwork,Eval_library_facilities,Eval_extracurricular],ignore_index = True)
evalClean

      eval                                            comment         category
0        0  teacher are punctual but they should also give...         teaching
1        1                                              Good          teaching
2        1  Excellent lectures are delivered by teachers a...         teaching
3        1                                               Good         teaching
4        1  teachers give us all the information required ...         teaching
...    ...                                                ...              ...
1105     1                         they all are held in super  extracurricular
1106     1                                               good  extracurricular
1107     1  the extracurricular activities held in univers...  extracurricular
1108     1  Our university has lot of extracurricular goin...  extracurricular
1109     1  IT IS THE BEST THING IN THIS UNIVERSITY I LIKE IT  extracurricular

[1110 rows x 3 columns]

In [10]:
#make text lowercase, 
#remove formats (e.g., html labels), 
#remove punctuation, and 
#remove words containing numbers.

In [11]:
import re

In [12]:
def clean_text(text):
    #Make text lowercase, remove punctuations, and remove numbers
    text = text.lower()
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub('[0-9]+','', text)
    return text

In [13]:
evalClean['comment'] = evalClean['comment'].map(clean_text)
evalClean

      eval                                            comment         category
0        0  teacher are punctual but they should also give...         teaching
1        1                                              good          teaching
2        1  excellent lectures are delivered by teachers a...         teaching
3        1                                               good         teaching
4        1  teachers give us all the information required ...         teaching
...    ...                                                ...              ...
1105     1                         they all are held in super  extracurricular
1106     1                                               good  extracurricular
1107     1  the extracurricular activities held in univers...  extracurricular
1108     1  our university has lot of extracurricular goin...  extracurricular
1109     1  it is the best thing in this university i like it  extracurricular

[1110 rows x 3 columns]

In [14]:
# We are going to create a document-term matrix using CountVectorizer
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(stop_words='english')

commentCV = cv.fit_transform(evalClean['comment'])
commentCV_dtm = pd.DataFrame(commentCV.toarray(), columns = cv.get_feature_names())

commentCV_dtm.index = evalClean['comment'].index
commentCV_dtm

,abilities,ability,able,abroad,absolutely,absurd,abt,academic,accessable,accitivties,...,works,world,worth,write,writing,wrong,yeah,year,years,yes
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1105,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1106,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1107,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1108,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1109,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
evalClean.groupby(['eval','category']).count().unstack()

               comment                                                         \
category coursecontent examination extracurricular labwork library_facilities
eval
-1                  30          24              12      37                 31
 0                  27          31              19      16                 24
 1                 128         130             154     132                130


category teaching
eval
-1             13
 0             35
 1            137

In [16]:
totalCT = commentCV_dtm.sum()
commentCV_dtm[totalCT.sort_values(ascending = False).index[:20]].sum()

good          654
excellent      74
students       62
university     61
library        48
books          47
course         43
pattern        40
lab            39
teachers       39
activities     37
knowledge      36
time           32
content        31
teaching       31
paper          30
checking       30
work           30
average        29
exam           29
dtype: int64

In [17]:
from gensim import matutils, models
import scipy.sparse

In [18]:
tdm = commentCV_dtm.transpose()
sparse_counts = scipy.sparse.csr_matrix(tdm)
corpus = matutils.Sparse2Corpus(sparse_counts)
id2word = dict((v, p) for p, v in cv.vocabulary_.items())

In [19]:
lda = models.LdaModel(corpus=corpus, id2word=id2word, num_topics=3, passes=20)
lda.print_topics()

[(0,
  '0.030*"activities" + 0.025*"university" + 0.024*"average" + 0.017*"students" + 0.015*"time" + 0.015*"like" + 0.015*"best" + 0.014*"extracurricular" + 0.009*"helpful" + 0.009*"student"'),
 (1,
  '0.295*"good" + 0.038*"excellent" + 0.024*"library" + 0.023*"books" + 0.020*"pattern" + 0.015*"checking" + 0.014*"paper" + 0.013*"facilities" + 0.012*"exam" + 0.011*"students"'),
 (2,
  '0.044*"good" + 0.026*"course" + 0.023*"lab" + 0.021*"knowledge" + 0.019*"teachers" + 0.017*"courses" + 0.017*"content" + 0.016*"delivery" + 0.015*"interaction" + 0.014*"material"')]

In [20]:
from sklearn.model_selection import train_test_split

Xs_docs = evalClean['comment']
Ys_evals = evalClean['eval']
xs_training, xs_test, y_training, y_test = train_test_split(Xs_docs, Ys_evals, test_size = 0.2)

In [21]:
from sklearn.naive_bayes import MultinomialNB

# Prepare the training features
cv = CountVectorizer(stop_words='english')
features = cv.fit_transform(xs_training)

# Train a multinomial Naive Bayes Model
model = MultinomialNB()
model.fit(features, y_training)

# Prepare the testing xs.
# Here we are using transform and fit_transform to standardize the data.
# Read about the differences here: https://towardsdatascience.com/what-and-why-behind-fit-transform-vs-transform-in-scikit-learn-78f915cf96fe
feature_test = cv.transform(xs_test)

# Print the model accuracy
print(model.score(feature_test,y_test))

0.7567567567567568

In [22]:
from sklearn import svm

# Prepare the training features
cv = CountVectorizer(stop_words='english')
features = cv.fit_transform(xs_training)

# Train SVM classifier
model = svm.SVC()
model.fit(features, y_training)

# Prepare the testing xs
feature_test = cv.transform(xs_test)

# Print the model accuracy
print(model.score(feature_test,y_test))

0.7252252252252253